@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

body {
    transition: background-color 2s ease;
    background-color: #6495ED;
}

h1 {
    font-family: roboto slab;
    font-size: 4em;
    text-align: center;
    margin-top: 50px;
    color: white;
}

h2 {
    font-family: open sans;
    text-align: center;
    color: white;
}

#words {
    font-family: open sans;
    text-align: center;
    color: white;
}

#zenStatus {
    transition: color 2s ease;
    color: blue;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
